<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> </title>
    
    <link rel="stylesheet" href="/assets/vendors/choices.js/choices.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <!-- dashboard css -->
    <% if(path === '/admin/dashboard') {%> 
    <link rel="stylesheet" href="/assets/vendors/chartjs/Chart.min.css">
    <% }  %> 
    <!--  -->

    <!-- page all admin & tiket -->
    <% if(path === '/admin/all' || path === '/tiket/all' || path === '/data/all') {%> 
    <link rel="stylesheet" href="/assets/vendors/simple-datatables/style.css">
    <% }  %> 
    <!--  -->

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
</head>
<body>