<%- include('../include/auth/header.ejs') %>
    <div id="error">
        
<div class="container text-center pt-32">
    <h1 class='error-title'>500</h1>
    <p>Error system. Please contact administrator.</p>
    <a href="/admin/dashboard" class='btn btn-primary'>Go Home</a>
</div>

        <div class="footer pt-32">
            <p class="text-center">Copyright &copy; Indihome 2020</p>
        </div>
    </div>
<%- include('../include/auth/footer.ejs') %>